app-home {
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-half {
  position: relative;
  width: 100%;
}

.login-box {
  padding: 10% 0;
}

.img__tennis {
  height: 500px;
  width: auto;
  margin-right: 200px;
  margin-top: 100px;
}