@import 'src/styles/variables';

.wrapper {
  width: 100%;
  height: 100%;

  background: $color-gray-2;
}

.box__form {
  width: 400px;
  margin: 5% 0 0 10%;
}

.title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 0.44px;
  color: $color-blue;
} 

.img__tennis {
  height: 400px;
  width: auto;
  position: absolute;
  right: 10%;
  bottom: 10%;
}

@media only screen and (max-width: $app-md) {
  .box__form {
    width: 100vw;
    padding: 5%;
    margin: 0;
  }

  .img__tennis { 
    display: none;
  }
}

@media only screen and (max-width: $app-sm) {
  .title {
    font-size: 32px;
    margin-bottom: 0;
  }
}