// COLORS
$color-pink: #f05454;
$color-blue: #30475e;
$color-dark-blue: #222831;
$color-gray: #e8e8e8;
$color-black: #202124;
$color-invalid: #ff0000;
$color-gray-1: #8b95a0;
$color-gray-2: #fafafa;
$color-gray-border: #dfe0e3;

// CONSTANTS
$app-sm: 480px;
$app-md: 960px;