<app-nav-bar> </app-nav-bar>

<div class="table__header"> 
  Matches
</div>

<div class="box__matches">
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Australian open" #input>
  </mat-form-field>

  <div class="table__wrapper">
    <table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort>
        
      <!-- Date -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
        <td mat-cell *matCellDef="let element"> {{element.date | date}}</td>
      </ng-container>
      
      <!-- Name -->
      <ng-container matColumnDef="tournament">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Tournament</th>
        <td mat-cell *matCellDef="let element"> {{element.tournament}} </td>
      </ng-container>

      <!-- Player 1 -->
      <ng-container matColumnDef="firstPlayer">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Player 1</th>
        <td mat-cell *matCellDef="let element"> {{element.firstPlayer}} </td>
      </ng-container>
    
      <!-- Player 2 -->
      <ng-container matColumnDef="secondPlayer">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Player 2</th>
        <td mat-cell *matCellDef="let element"> {{element.secondPlayer}} </td>
      </ng-container>

      <!-- H2H -->
      <ng-container matColumnDef="h2h">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>H2H</th>
        <td mat-cell *matCellDef="let element"> {{element.headToHeadFirst || element.headToHeadSecond ? element.headToHeadFirst + ' - ' + element.headToHeadSecond : '-'}} </td>
      </ng-container>

      <!-- Results -->
      <ng-container matColumnDef="results">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Results</th>
        <td mat-cell *matCellDef="let element"> {{element.resultFirst || element.resultSecond ? element.resultFirst + ' - ' + element.resultSecond : '-'}} </td>
      </ng-container>
      
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr 
        mat-row 
        *matRowDef="let element; columns: displayedColumns;"
        class="example-element-row"
      ></tr>
    </table>
  </div>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>