USE [master]
GO
/****** Object:  Database [TennisAssociation]    Script Date: 11/20/2020 7:02:40 PM ******/
CREATE DATABASE [TennisAssociation]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TennisAssociation', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TennisAssociation.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TennisAssociation_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TennisAssociation_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TennisAssociation].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TennisAssociation]
GO
/****** Object:  Table [dbo].[players]    Script Date: 11/20/2020 7:02:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[players](
	[id] [uniqueidentifier] NOT NULL,
	[firstName] [varchar](50) NOT NULL,
	[lastName] [varchar](50) NOT NULL,
	[country] [varchar](20) NULL,
	[height] [smallint] NULL,
	[weight] [smallint] NULL,
	[birth] [date] NULL,
	[currentRankingSingle] [smallint] NULL,
	[bestRankingSingle] [smallint] NULL,
	[currentRankingDouble] [smallint] NULL,
	[bestRankingDouble] [smallint] NULL,
	[sex] [varchar](10) NULL,
	[hand] [varchar](10) NULL,
	[img] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[players] ADD  DEFAULT (newsequentialid()) FOR [id]
GO
ALTER TABLE [dbo].[players]  WITH CHECK ADD CHECK  (([hand]='left' OR [hand]='right'))
GO
ALTER TABLE [dbo].[players]  WITH CHECK ADD CHECK  (([sex]='woman' OR [sex]='man'))
GO
/****** Object:  StoredProcedure [dbo].[insert_images]    Script Date: 11/20/2020 7:02:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[insert_images] as
begin
declare @id uniqueidentifier
DECLARE @name varchar(50)
DECLARE @stmt varchar(150)
DECLARE @imgTable TABLE (img varbinary(max))

DECLARE MY_CURSOR CURSOR 
  LOCAL STATIC READ_ONLY FORWARD_ONLY
FOR 
SELECT DISTINCT id 
FROM players

OPEN MY_CURSOR
FETCH NEXT FROM MY_CURSOR INTO @id
WHILE @@FETCH_STATUS = 0
BEGIN 
	SET @name = (select concat(lastName, ' ', firstName) from players where id = @id)
	SET @stmt = 'SELECT * FROM OPENROWSET(BULK ''C:\Users\UserPC\Desktop\rs2\img\' + @name + '.png'', SINGLE_BLOB) as T1'
	delete from @imgTable
	insert @imgTable exec(@stmt)
	update players set img = (select top 1 * from @imgTable) where id = @id
    FETCH NEXT FROM MY_CURSOR INTO @id
END
CLOSE MY_CURSOR
DEALLOCATE MY_CURSOR
end
GO
USE [master]
GO
