<app-nav-bar> </app-nav-bar>

<div class="header__players"> 
  Active ATP players
</div>

<div class="box__players">
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Novak" #input>
  </mat-form-field>

  <div class="box__players__table">

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" multiTemplateDataRows>
        <!-- Ranking Column -->
        <ng-container matColumnDef="currentRankingSingle">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Ranking </th>
            <td mat-cell *matCellDef="let row"> {{row.currentRankingSingle}} </td>
        </ng-container> 
    
    
        <ng-container  matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element">
              <a mat-button href="javascript:void(0)" (click)="element.isExpanded = !element.isExpanded">{{element.firstName}} {{element.lastName}}</a>
            </td>
        </ng-container>

        <!-- Country Column -->
        <ng-container matColumnDef="country">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Country </th>
            <td mat-cell *matCellDef="let row"> {{row.country}} </td>
        </ng-container>

        <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
                <div class="row queue-element-detail" [@detailExpand]="element.isExpanded ? 'expanded' : 'collapsed'">
                 
                <div>
                    <p style="float: left;"> <img src="{{'data:image/png;base64,'+ element.img}}" alt="img" /></p>
                    <div style="float: right;"> 
                      <table>
                        <tr>
                          <td>Name:</td>
                          <td>{{element.firstName}}</td>
                        </tr>
                        <tr>
                          <td>Last name:</td>
                          <td>{{element.lastName}}</td>
                        </tr>
                        <tr>
                          <td>Country:</td>
                          <td>{{element.country}}</td>
                        </tr>
                        <tr>
                          <td>Sex:</td>
                          <td>{{element.sex}}</td>
                        </tr>
                        <tr>
                          <td>Height:</td>
                          <td>{{element.height}}</td>
                        </tr>
                        <tr>
                          <td>Weight:</td>
                          <td>{{element.weight}}</td>
                        </tr>
                        <tr>
                          <td>Birth:</td>
                          <td>{{element.birth | date : format : timezone}}</td>
                        </tr>
                        <tr>
                          <td>Current ranking single:</td>
                          <td>{{element.currentRankingSingle}}</td>
                        </tr>
                        <tr>
                          <td>Best ranking single:</td>
                          <td>{{element.bestRankingSingle}}</td>
                        </tr>
                        <tr>
                          <td>Current ranking double:</td>
                          <td>{{element.currentRankingDouble}}</td>
                        </tr>
                        <tr>
                          <td>Best ranking double:</td>
                          <td>{{element.bestRankingDouble}}</td>
                        </tr>
                        <tr>
                          <td>Hand:</td>
                          <td>{{element.hand}}</td>
                        </tr>
                      </table>
                    </div>
                </div>

                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>

        <tr mat-row *matRowDef="let element; columns: displayedColumns;"
          class="queue-element-row"
          [class.queue-expanded-row]="element.isExpanded"></tr>

        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']"
          class="queue-detail-row"></tr> 

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</div>