<app-nav-bar> </app-nav-bar>
<section class="container">
  <div class="left-half">
    <form [formGroup]="loginForm" class="form-box login-box" (ngSubmit)="onSubmit()">
      <fieldset>
        <legend class="style-text-dirty-yellow">LOG IN</legend>
        <div 
          class="form-group" 
          [ngClass]="{'has-danger': f.username.invalid && (f.username.dirty || f.username.touched)}"
        >
          <input 
            type="text" 
            class="form-control input"
            [ngClass]="{'is-invalid': f.username.invalid && (f.username.dirty || f.username.touched)}"
            placeholder="Username" 
            formControlName="username"
          >
          <div class="invalid-feedback" *ngIf="f.username.errors?.required">Username is a required field.</div>
          <div class="invalid-feedback" *ngIf="f.username.errors?.minlength">Username is too short.</div>
          <div class="invalid-feedback" *ngIf="f.username.errors?.maxlength">Username is too long.</div>
        </div>
        
        <div 
          class="form-group"
          [ngClass]="{'has-danger': f.password.invalid && (f.password.dirty || f.password.touched)}"
        >
          <input 
            type="password" 
            class="form-control input" 
            [ngClass]="{'is-invalid': f.password.invalid && (f.password.dirty || f.password.touched)}"
            placeholder="Password" 
            formControlName="password"
          >
          <div class="invalid-feedback" *ngIf="f.password.errors?.required">Password is a required field.</div>
          <div class="invalid-feedback" *ngIf="f.password.errors?.minlength">Password must contain at least {{minPasswordLength}} letters.</div>
          <div class="invalid-feedback" *ngIf="f.password.errors?.maxlength">Your password is too long.</div>
        </div>

        <button type="submit" class="btn btn-primary btn-submit style-text-black" [disabled]="!loginForm.valid">Log in</button>
        <small class="form-text text-muted"> Don't have an account yet? <a [routerLink]="['signup']">Register here.</a></small>
      </fieldset>
    </form>

  </div>
  <img class="img__tennis" src="../../../assets/images/silueta-2.png"/> 
</section>