<app-nav-bar> </app-nav-bar>

<div class="table__header"> 
  Tournaments
</div>

<div class="box__tournaments">
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Australian open" #input>
  </mat-form-field>

  <div class="table__wrapper">
    <table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort>
      <!-- Name -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let element"> {{element.tournament1}} </td>
      </ng-container>
      
      <!-- Ranking -->
      <ng-container matColumnDef="ranking">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Ranking</th>
        <td mat-cell *matCellDef="let element"> {{element.winnerPoints ? element.winnerPoints : '-'}} </td>
      </ng-container>

      <!-- Money prize -->
      <ng-container matColumnDef="winnerPrize">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Money prize</th>
        <td mat-cell *matCellDef="let element"> {{element.winnerPrize ? element.winnerPrize : '-'}} </td>
      </ng-container>

      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
          <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'"> 
            <div class="details__card flex-column">
              <h5 class="details__card__tournament__name">{{element.tournament1}}</h5>

              <ng-container *ngIf="isInfoAvailable(element); else tournamentsInfoEmpty">
                <span style="font-weight: bold;">{{element.winnerPoints ? 'Ranking: ' + element.winnerPoints : ''}}</span>
                
                <div class="details__card_row" *ngIf="element._1RoundPrize || element._1RoundPoints"> 
                  <span>{{element._1RoundPrize ? '1 round prize: ' + element._1RoundPrize : ''}}</span>
                  <div *ngIf="element._1RoundPrize && element._1RoundPoints" class="dot"></div> 
                  <span>{{element._1RoundPoints ? '1 round points: ' + element._1RoundPoints : ''}}</span>
                </div>
                
                <div class="details__card_row" *ngIf="element._2RoundPrize || element._2RoundPoints"> 
                  <span>{{element._2RoundPrize ? '2 round prize: ' + element._2RoundPrize : ''}}</span>
                  <div *ngIf="element._2RoundPrize && element._2RoundPoints" class="dot"></div> 
                  <span>{{element._2RoundPoints ? '2 round points: ' + element._2RoundPoints : ''}}</span>
                </div>

                <div class="details__card_row" *ngIf="element._3RoundPrize || element._3RoundPoints">
                  <span>{{element._3RoundPrize ? '3 round prize: ' + element._3RoundPrize : ''}}</span>
                  <div *ngIf="element._3RoundPrize && element._3RoundPoints" class="dot"></div> 
                  <span>{{element._3RoundPoints ? '3 round points: ' + element._3RoundPoints : ''}}</span>
                </div>
                
                <div class="details__card_row" *ngIf="element.roundOf16Prize || element.roundOf16Points">
                  <span>{{element.roundOf16Prize ? 'Round of 16 prize: ' + element.roundOf16Prize : ''}}</span>
                  <div *ngIf="element.roundOf16Prize && element.roundOf16Points" class="dot"></div> 
                  <span>{{element.roundOf16Points ? 'Round of 16 points: ' + element.roundOf16Points : ''}}</span>
                </div>

                <div class="details__card_row" *ngIf="element.quarterfinalPrize || element.quarterfinalPoints">
                  <span>{{element.quarterfinalPrize ? 'Quarter final prize: ' + element.quarterfinalPrize : ''}}</span>
                  <div *ngIf="element.quarterfinalPrize && element.quarterfinalPoints" class="dot"></div> 
                  <span>{{element.quarterfinalPoints ? 'Quarter final points: ' + element.quarterfinalPoints : ''}}</span>
                </div>

                <div class="details__card_row" *ngIf="element.semifinalPrize || element.semifinalPoints">
                  <span>{{element.semifinalPrize ? 'Semi final prize: ' + element.semifinalPrize : ''}}</span>
                  <div *ngIf="element.semifinalPrize && element.semifinalPoints" class="dot"></div> 
                  <span>{{element.semifinalPoints ? 'Semi final points: ' + element.semifinalPoints : ''}}</span>
                </div>

                <div class="details__card_row" *ngIf="element.finalPrize || element.finalPoints">
                  <span>{{element.finalPrize ? 'Final prize: ' + element.finalPrize : ''}}</span>
                  <div *ngIf="element.finalPrize && element.finalPoints" class="dot"></div> 
                  <span>{{element.finalPoints ? 'Final points: ' + element.finalPoints : ''}}</span>
                </div>

                <div class="details__card_row" *ngIf="element.winnerPrize || element.winnerPoints">
                  <span style="font-weight: bold;">{{element.winnerPrize ? 'Winner prize: ' + element.winnerPrize : ''}}</span>
                  <div *ngIf="element.winnerPrize && element.winnerPoints" class="dot"></div> 
                  <span style="font-weight: bold;">{{element.winnerPoints ? 'Winner points: ' + element.winnerPoints : ''}}</span>
                </div>
              </ng-container>

              <ng-template #tournamentsInfoEmpty> 
                Unfortunately we don't have any information about this tournament at the moment.
                Please try again later.
              </ng-template>
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr 
        mat-row 
        *matRowDef="let element; columns: displayedColumns;"
        class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element"  
      ></tr>

      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr> 
    </table>
  </div>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
