<app-nav-bar> </app-nav-bar>

<div class="table__header"> 
  Tournaments
</div>

<div class="box__tournaments">
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Australian open" #input>
  </mat-form-field>

  <div class="table__wrapper">
    <table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort>
      <!-- Name -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let element"> {{element.tournament1}} </td>
      </ng-container>
      
      <!-- Ranking -->
      <ng-container matColumnDef="ranking">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Ranking</th>
        <td mat-cell *matCellDef="let element"> {{element.winnerPoints ? element.winnerPoints : '-'}} </td>
      </ng-container>

      <!-- Money prize -->
      <ng-container matColumnDef="winnerPrize">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Money prize</th>
        <td mat-cell *matCellDef="let element"> {{element.winnerPrize ? element.winnerPrize : '-'}} </td>
      </ng-container>

      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
          <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'"> 
            <div class="details__card flex-column">
              <h5 class="details__card__tournament__name">{{element.tournament1}}</h5>

              <ng-container *ngIf="isInfoAvailable(element); else tournamentsInfoEmpty">
                <span style="font-weight: bold;">{{element.winnerPoints ? 'Ranking: ' + element.winnerPoints : ''}}</span>
                
                <div class="details__card_row" *ngIf="element._1RoundPrize || element._1RoundPoints"> 
                  <div class="details__card_row_div" *ngIf="element._1RoundPrize">
                    <span>1 round prize: </span>
                    <span>{{element._1RoundPrize}}</span>
                  </div>
                  <div *ngIf="element._1RoundPrize && element._1RoundPoints" class="dot"></div> 
                  <div class="details__card_row_div" *ngIf="element._1RoundPoints">
                    <span>1 round points: </span>
                    <span>{{element._1RoundPoints}}</span>
                  </div>
                </div>
                
                <div class="details__card_row" *ngIf="element._2RoundPrize || element._2RoundPoints"> 
                  <div class="details__card_row_div" *ngIf="element._2RoundPrize">
                    <span>2 round prize: </span>
                    <span>{{element._2RoundPrize}}</span>
                  </div>
                  <div *ngIf="element._2RoundPrize && element._2RoundPoints" class="dot"></div> 
                  <div class="details__card_row_div" *ngIf="element._2RoundPoints">
                    <span>2 round points: </span>
                    <span>{{element._2RoundPoints}}</span>
                  </div>
                </div>

                <div class="details__card_row" *ngIf="element._3RoundPrize || element._3RoundPoints">
                  <div class="details__card_row_div" *ngIf="element._3RoundPrize">
                    <span>3 round prize: </span>
                    <span>{{element._3RoundPrize}}</span>
                  </div>
                  <div *ngIf="element._3RoundPrize && element._3RoundPoints" class="dot"></div> 
                  <div class="details__card_row_div" *ngIf="element._3RoundPoints">
                    <span>3 round points: </span>
                    <span>{{element._3RoundPoints}}</span>
                  </div>
                </div>
                
                <div class="details__card_row" *ngIf="element.roundOf16Prize || element.roundOf16Points">
                  <div class="details__card_row_div" *ngIf="element.roundOf16Prize">
                    <span>Round of 16 prize: </span>
                    <span>{{element.roundOf16Prize}}</span>
                  </div>
                  <div *ngIf="element.roundOf16Prize && element.roundOf16Points" class="dot"></div> 
                  <div class="details__card_row_div" *ngIf="element.roundOf16Points">
                    <span>Round of 16 points: </span>
                    <span>{{element.roundOf16Points}}</span>
                  </div>  
                </div>

                <div class="details__card_row" *ngIf="element.quarterfinalPrize || element.quarterfinalPoints">
                  <div class="details__card_row_div" *ngIf="element.quarterfinalPrize">
                    <span>Quarter final prize: </span>
                    <span>{{element.quarterfinalPrize}}</span>
                  </div>
                  <div *ngIf="element.quarterfinalPrize && element.quarterfinalPoints" class="dot"></div> 
                  <div class="details__card_row_div" *ngIf="element.quarterfinalPoints">
                    <span>Quarter final points: </span>
                    <span>{{element.quarterfinalPoints}}</span>
                  </div>  
                </div>

                <div class="details__card_row" *ngIf="element.semifinalPrize || element.semifinalPoints">
                  <div class="details__card_row_div" *ngIf="element.semifinalPrize">
                    <span>Semi final prize: </span>
                    <span>{{element.semifinalPrize}}</span>
                  </div>
                  <div *ngIf="element.semifinalPrize && element.semifinalPoints" class="dot"></div> 
                  <div class="details__card_row_div" *ngIf="element.semifinalPoints">
                    <span>Semi final points: </span>
                    <span>{{element.semifinalPoints}}</span>
                  </div>  
                </div>

                <div class="details__card_row" *ngIf="element.finalPrize || element.finalPoints">
                  <div class="details__card_row_div" *ngIf="element.finalPrize">
                    <span>Final prize: </span>
                    <span>{{element.finalPrize}}</span>
                  </div>
                  <div *ngIf="element.finalPrize && element.finalPoints" class="dot"></div> 
                  <div class="details__card_row_div" *ngIf="element.finalPoints">
                    <span>Final points: </span>
                    <span>{{element.finalPoints}}</span>
                  </div>  
                </div>

                <div class="details__card_row" *ngIf="element.winnerPrize || element.winnerPoints">
                  <div class="details__card_row_div" style="font-weight: bold;" *ngIf="element.winnerPrize">
                    <span>Winner prize: </span>
                    <span>{{element.winnerPrize}}</span>
                  </div>
                  <div *ngIf="element.winnerPrize && element.winnerPoints" class="dot"></div> 
                  <div class="details__card_row_div" style="font-weight: bold;" *ngIf="element.winnerPoints">
                    <span>Winner points: </span>
                    <span>{{element.winnerPoints}}</span>
                  </div>  
                </div>
              </ng-container>

              <ng-template #tournamentsInfoEmpty> 
                Unfortunately we don't have any information about this tournament at the moment.
                Please try again later.
              </ng-template>
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr 
        mat-row 
        *matRowDef="let element; columns: displayedColumns;"
        class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element"  
      ></tr>

      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr> 
    </table>
  </div>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
