@import '../../../styles.scss';

.box__tournaments {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  overflow-y: auto;
}

.details__card__tournament__name {
  color: $color-pink;
}