@import 'src/styles/variables';

.topnav {
  overflow: hidden;
  background-color: $color-blue;
}

.topnav a {
  float: left;
  display: block;
  color: $color-gray-2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  cursor: pointer;
}

.topnav a:hover {
  background-color: $color-blue-hover;
}

.topnav a.active {
  background-color: $color-pink;
  color: $color-gray-2;

  &:hover {
    background-color: $color-pink-hover;
  }
}

.logout {
  position: absolute;
  right: 0;
}