
<nav class="navbar navbar__text">
  <div class="navbar__left">
    <a [routerLink]="['/']"> 
      <img class="logo" src="../../../assets/images/logo.jpg">   
      TENNIS
    </a>
  </div> 

  <div class="navbar__right"> 
    <div class="navbar__link_box"> <a [routerLink]="['/players']">PLAYERS</a> </div>
    <div class="navbar__link_box"> <a [routerLink]="['/tournaments']">TOURNAMENTS</a> </div>
    <div class="navbar__link_box"> <a [routerLink]="['/matches']">MATCHES</a> </div>
    <div class="navbar__link_box"> <a [routerLink]="['/signup']">SIGN UP</a> </div>
  </div>
</nav>