@import '../../../styles.scss';

canvas {
  cursor: pointer;
  max-height: 250px;
  max-width: 550px;
}

.statistics {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 30px;
  padding-bottom: 30px;
}

.chart__header {
  margin-top: 30px;
  color: $color-blue;
}

.statistics__players_header {
  color: $color-blue;
  margin: 30px 20px 0 20px;
}

.back__icon {
  margin-right: 8px;
  cursor: pointer;
  color: $color-blue;

  &:hover {
    color: $color-pink;
  }
}

@media only screen and (max-width: $app-sm) {
  .statistics {
    margin-top: 0;
    flex-direction: column;
  }
}