<app-nav-bar> </app-nav-bar>

<div class="table__header"> 
  Statistics
</div>

<div *ngIf="(showStatistics$ | async)" class="statistics__hand">
  <h4 class="chart__header"> Players hand statistics</h4>
  <canvas baseChart
    chartType="pie"
    [labels]="handPieChartLabels$ | async"
    [data]="handPieChartData$ | async"
    [colors]="handPieChartColors"
    [options]="handPieOptions"
    (chartClick)="handChartClicked($event)"
  ></canvas>
</div>

<ng-container *ngIf="!(arePlayersLoading$ | async) && (showPlayersByHand$ | async)">
  <div class="statistics__players_header d-flex flex-row justify-content-start">  
    <mat-icon svgIcon="arrowBack" class="back__icon" (click)="backToStatistics()"></mat-icon>
    <h4 class="header">{{playersTitle$ | async}}</h4>
  </div>
  <app-players-base [players]="players$ | async"> </app-players-base>
</ng-container>

