.signup-box {
  margin: auto;
}

.row {
  margin: 0px;
  justify-content: space-between
}

.input-shorter {
  width: 200px;
}

input {
  width: 450px;
}

.btn-submit {
  width: 450px;
}

input[type="date"]::before { 
  color: gray;
  content: attr(data-placeholder);
  width: 100%;
  cursor: pointer;
}

/* hide our custom/fake placeholder text when in focus to show the default
 * 'mm/dd/yyyy' value and when valid to show the users' date of birth value.
 */
input[type="date"]:focus::before,
input[type="date"]:valid::before { display: none; cursor: pointer; }

select {
  &.ng-pristine{
    color: gray;
  }

  cursor: pointer;
}
