<div class="wrapper">
  <div class="box__form"> 
    <div class="title">SIGN UP</div>

    <form [formGroup]="signupForm"> 
      <div class="row w-100">
        <div class="w-48">
          <input
            type="text"
            class="form__input"
            [class.form__input__invalid]="f.firstname.invalid && f.firstname.touched"
            formControlName="firstname"
            placeholder="First name" 
          /> 

          <ng-container *ngIf="f.firstname.touched">
            <div class="invalid-feedback" *ngIf="f.firstname.errors?.required">Please enter your first name</div>
            <div class="invalid-feedback" *ngIf="f.firstname.errors?.pattern">Please use only alphabet letters</div>
            <div class="invalid-feedback" *ngIf="f.firstname.errors?.maxlength">Is this your name? Seems too long</div>
          </ng-container>
        </div>
  
        <div class="w-48">
          <input
            type="text"
            class="form__input"
            [class.form__input__invalid]="f.lastname.invalid && f.lastname.touched"
            formControlName="lastname"
            placeholder="Last name" 
          />

          <ng-container *ngIf="f.lastname.touched">
            <div class="invalid-feedback" *ngIf="f.lastname.errors?.required">Please enter your last name</div>
            <div class="invalid-feedback" *ngIf="f.lastname.errors?.pattern">Please use only alphabet letters</div>
            <div class="invalid-feedback" *ngIf="f.lastname.errors?.maxlength">Is this your last name? Seems too long</div>
          </ng-container>
        </div>
      </div> 

      <div class="w-100">
        <input
          type="text"
          class="form__input"
          [class.form__input__invalid]="f.username.invalid && f.username.touched"
          formControlName="username"
          placeholder="Username" 
        />

        <ng-container *ngIf="f.username.touched">
          <div class="invalid-feedback" *ngIf="f.username.errors?.required">Please enter username</div>
          <div class="invalid-feedback" *ngIf="f.username.errors?.minlength">Username is too short</div>
          <div class="invalid-feedback" *ngIf="f.username.errors?.maxlength">Username is too long</div>
        </ng-container>
      </div>

      <div class="w-100">
        <input
          type="text"
          class="form__input"
          [class.form__input__invalid]="f.email.invalid && f.email.touched"
          formControlName="email"
          placeholder="Email" 
        />

        <ng-container *ngIf="f.email.touched">
          <div class="invalid-feedback" *ngIf="f.email.errors?.required">Email address is a required field</div>
          <div class="invalid-feedback" *ngIf="f.email.errors?.email">Email address is not valid</div>
        </ng-container>
      </div>

      <div class="w-100">
        <input
          type="password"
          class="form__input"
          [class.form__input__invalid]="f.password.invalid && f.password.touched"
          formControlName="password"
          placeholder="Password" 
        />

        <ng-container *ngIf="f.password.touched">
          <div class="invalid-feedback" *ngIf="f.password.errors?.required">Password is a required field</div>
          <div class="invalid-feedback" *ngIf="f.password.errors?.minlength">Password must contain at least 8 letters</div>
          <div class="invalid-feedback" *ngIf="f.password.errors?.maxlength">Your password is too long</div>
        </ng-container>
      </div>

      <div class="w-100">
        <input
          type="password"
          class="form__input"
          [class.form__input__invalid]="f.confirmPassword.invalid && f.confirmPassword.touched"
          formControlName="confirmPassword"
          placeholder="Confirm password" 
        />

        <ng-container *ngIf="f.confirmPassword.touched">
          <div class="invalid-feedback" *ngIf="f.confirmPassword.errors?.required">Please confirm your password</div>
          <div class="invalid-feedback" *ngIf="f.confirmPassword.errors?.minlength">Password must contain at least {{minPasswordLength}} letters</div>
          <div class="invalid-feedback" *ngIf="f.confirmPassword.errors?.maxlength">Your password is too long</div>
          <div class="invalid-feedback" *ngIf="f.confirmPassword.errors?.mustMatch">Passwords must match</div>
        </ng-container>
      </div>

      <button type="submit" class="form__submit mt-16 mb-8" [class.form__submit__disabled]="!signupForm.valid" [disabled]="!signupForm.valid" (click)="onSubmit()">Sign up</button>
      <span class="form__text">Already a user? <a [routerLink]="['/', Pages.Login]"> Log in here</a></span>
    </form>
  </div>

  <img class="img__tennis" src="../../../assets/images/silueta-2.png"/> 
</div> 