@import 'src/styles/variables';
@import 'src/styles/tables';
@import 'src/styles/forms';

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background-color: transparent;
  margin: 0;
  overflow: hidden;
}

%base-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.15px;
}

// LINKS
a {
  @extend %base-text;
  color: $color-blue;
}

a:active {
  color: $color-pink;
}

a:hover {
  color: $color-pink;
}

// FLEX
.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 0 !important;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mt-16 {
  margin-top: 16px;
}

.mr-8 {
  margin-right: 8px;
}

.w-48 {
  width: 48%;
}

.dot {
  display: flex;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: black;
  margin: 0 8px;
}

.mat-progress-spinner.mat-accent circle, .mat-spinner.mat-accent circle {
  stroke: $color-blue;
}

@media only screen and (max-width: $app-sm) {
  .row {
    flex-direction: column;
  }

  .w-48 {
    width: 100%;
  }

  .dot {
    display: none;
  }
}
